/* h6{
    color: salmon;
    background-color: rgb(77, 51, 51);
} */
#list{
    background-color: rgb(228, 23, 200);
    color: white;
}
button{
    background-color: rgb(66, 236, 14);
    text-align: center;
    padding: 10px;
    font-size: large;
}
button:hover{
    background-color: black;
    color: aliceblue;
}