.navbar{
  color: cornsilk;
  background: rgb(107, 23, 139);
  padding: 10px;
  text-align: center;
  margin: 0 100px;
}
body{
  background-color: rgb(161, 33, 235);
  height: 100vh;
}
.book-list{
  margin: 0 200px;
  padding: 3px;
}
li>*{
  padding: 0px;
  margin: 0px;
}
#empty{
  margin: 0 200px;
  padding: 8px;
  text-align: center;
}